*
!bin/
!bin/supermission
!dist/
!dist/**
!docs/
!docs/quick-start.md
!docs/quick-start.zh-CN.md
!docs/architecture/
!docs/architecture/release-and-data-decisions.md
!docs/evaluations/
!docs/evaluations/supermission-capability-evaluation.md
!docs/research/
!docs/research/agent-orchestration-reference.md
!docs/research/agent-scheduling-communication-ui-performance.md
!docs/research/kiro-codex-claude-orchestration-gap-analysis.md
!docs/research/token-performance-strategy.md
!evals/
!evals/supermission-capability-baseline.yaml
!README.md
!README.zh-CN.md
!LICENSE
!package.json
