*
!bin/
!bin/mission
!dist/
!dist/**
!docs/
!docs/architecture/
!docs/architecture/release-and-data-decisions.md
!docs/evaluations/
!docs/evaluations/supermission-capability-evaluation.md
!docs/research/
!docs/research/agent-orchestration-reference.md
!docs/research/agent-scheduling-communication-ui-performance.md
!docs/research/token-performance-strategy.md
!evals/
!evals/supermission-capability-baseline.yaml
!README.md
!README.zh-CN.md
!LICENSE
!package.json

